@media (max-width: 826px) {
    .navbar-brand {
        font-size: 30px;
    }

    .carousel-inner div h1 {
        font-size: 30px;
    }

    .carousel-caption button {
        font-size: 18px;
    }

    .navbar-toggler {
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-toggler-icon {
        height: 25px;
        width: 25px;
    }

    #exploring-and-learning p:first-child {
        font-size: 24px;
    }

    #exploring-and-learning p:not(:first-child) {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    #about-me div:last-child {
        font-size: 15px;
    }
}

@media (max-width: 711px) {
    .carousel-item > img {
        height: 257px;
        object-fit: cover;
    }

    .carousel-inner div h1 {
        font-size: 25px;
    }

    .carousel-caption {
        bottom: 27%;
    }

    .carousel-caption button {
        font-size: 14px;
        height: 29px;
        width: 99px;
    }

    .carousel-indicators {
        margin-bottom: 10px;
    }

    #exploring-and-learning p:first-child {
        font-size: 23px;
    }

    #exploring-and-learning p:not(:first-child) {
        font-size: 14px;
    }
}

@media (max-width: 597px) {
    .carousel-item > img {
        height: 286px;
    }

    #exploring-and-learning p:first-child {
        font-size: 22px;
    }

    #about-me div:first-child img {
        width: 100px;
        height: 100px;
    }

    #quotation-marks {
        font-size: 60px;
        margin-left: 5px;
    }

    #about-me div:last-child {
        font-size: 12px;
    }

    #copyright {
        font-size: 16px;
    }
}

@media (max-width: 511px) {
    nav ul li a {
        font-size: 15.9px;
    }

    .carousel-indicators li {
        width: 8px;
        height: 8px;
    }

    #exploring-and-learning p:first-child {
        font-size: 19px;
    }

    #images img {
        max-width: 35px;
        height: 35px;
    }

    #background {
        height: 350px;
        width: 350px;
    }

    #background > form {
        margin: 55px 0px 0px 0px;
    }

    #background input {
        width: 200px;
        height: 25px;
    }

    textarea {
        width: 200px;
        height: 80px;
    }
}

@media (max-width: 450px) {
    .navbar {
        padding-bottom: 0px;
    }
    nav ul li a {
        font-size: 14px;
    }

    .breadcrumb {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .carousel-inner div h1 {
        font-size: 23px;
    }

    .carousel-caption {
        bottom: 27%;
    }

    .carousel-indicators li {
        width: 6px;
        height: 6px;
    }

    #exploring-and-learning p:first-child {
        font-size: 15px;
        margin-bottom: 0px;
    }

    #exploring-and-learning p:not(:first-child) {
        font-size: 10px;
    }

    #background {
        height: 300px;
        width: 300px;
    }

    #background > form {
        margin: 45px 0px 0px 0px;
    }

    #background input {
        width: 180px;
        height: 25px;
    }

    #background input[type="image"] {
        width: 50px;
    }

    textarea {
        width: 180px;
        height: 80px;
    }
}

@media (max-width: 400px) {
    nav ul li a {
        font-size: 13.3px;
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: 3px;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        padding-right: 3px;
    }

    .carousel-inner div h1 {
        font-size: 19px;
    }

    .carousel-caption button {
        font-size: 14px;
        height: 27px;
    }

    .carousel-indicators {
        margin-bottom: 5px;
    }

    #exploring-and-learning p:first-child {
        font-size: 13px;
    }

    #images img {
        max-width: 25px;
        height: 25px;
    }

    #background {
        height: 270px;
        width: 270px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    #background > form {
        margin: 40px 0px 0px 0px;
    }

    #background input {
        width: 160px;
    }

    #background input[type="image"] {
        width: 40px;
    }

    textarea {
        width: 160px;
        height: 80px;
    }

    #copyright {
        font-size: 14px;
    }
}

@media (max-width: 342px) {
    nav ul li a {
        font-size: 12.3px;
    }

    .carousel-inner div h1 {
        font-size: 18px;
    }

    .carousel-caption button {
        width: 80px;
        height: 23px;
        padding: 0px 6px;
        font-size: 12px;
    }
}