@media (max-width: 826px) {
    .navbar-brand {
        font-size: 30px;
    }

    .carousel-inner div h1 {
        font-size: 30px;
    }

    .carousel-caption button {
        font-size: 18px;
    }

    .navbar-toggler {
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-toggler-icon {
        height: 25px;
        width: 25px;
    }

    nav ul li a {
        font-size: 15px;
    }
}

@media (max-width: 711px) {
    .carousel-inner div h1 {
        font-size: 25px;
    }

    .carousel-caption {
        bottom: 27%;
    }

    .carousel-caption button {
        font-size: 14px;
    }

    .carousel-indicators {
        margin-bottom: 10px;
    }
}

@media (max-width: 597px) {
    .carousel-inner div h1 {
        font-size: 20px;
    }

    .carousel-caption button {
        font-size: 11px;
    }
}

@media (max-width: 511px) {
    .carousel-inner div h1 {
        font-size: 15px;
    }

    .carousel-caption {
        bottom: 23%;
    }

    .carousel-caption button {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 5px;
    }

    .carousel-indicators li {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 450px) {
    .carousel-inner div h1 {
        font-size: 10px;
    }

    .carousel-caption {
        bottom: 23%;
    }

    .carousel-caption button {
        font-size: 8px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 0px;
    }

    .carousel-indicators li {
        width: 6px;
        height: 6px;
    }
}

@media (max-width: 400px) {
    .carousel-caption {
        bottom: 19%;
    }
    .carousel-caption button {
        margin-top: -5px;
    }

    .carousel-indicators {
        margin-bottom: 5px;
    }
}

@media (max-width: 342px) {
    .carousel-caption button {
        padding-left: 2px;
        padding-right: 2px;
    }
}